<fieldset class="fields">
  <div class="field"><%= f.label :company_name, t("provider.company_name") %> <%= f.text_field :company_name %></div>
  <div class="field">
    <%= f.label :marketing_description, "#{t("provider.marketing_description")}" %>
    <%= f.text_area :marketing_description, :'data-count' => 800  %>
    <div class="hint">
      <%= t("provider.marketing_description_limit") %>
      <div class='charCount'>
        <em class="number"><%= 800 - (@provider.marketing_description ? @provider.marketing_description.size : 0) %></em>
        <%= t('provider.remaining') %>
      </div>
    </div>
  </div>
  <div class="field"><%= f.label :street_address, t("provider.street_address") %> <%= f.text_field :street_address %></div>
  <div class="field"><label>&nbsp;</label><%= f.text_field :further_street_address %></div>
  <div class="field"><%= f.label :city, t("provider.city") %> <%= f.text_field :city %></div>
  <div class="field"><%= f.label :state_province, t("provider.state") %> <%= f.select :state_province, ([[t('provider.outside_us'), "NA"]] + State::NAMES), :include_blank => true %></div>
  <div class="field"><%= f.label :postal_code, t("provider.postal_code") %> <%= f.text_field :postal_code %></div>
  <div class="field"><%= f.label :country, t('provider.country') %> <%= f.localized_country_select :country, [:US, :CA, :FR, :DE,  :IE, :ES, :GB], :include_blank => t('provider.choose_country') %></div>
  <div class="field"><%= f.label :phone_number, t("provider.phone_number") %> <%= f.text_field :phone_number %></div>
  <div class="field"><%= f.label :email, t("provider.email") %> <%= f.text_field :email %></div>
  <div class="field"><%= f.label :company_url, t("provider.company_url") %> <%= f.text_field :company_url %></div>
  <div class="field">
    <%= f.label :twitter, "Twitter Username" %>
    <%= f.text_field :twitter %>
  </div>
  <div class="field"><%= f.label :logo, t('provider.logo') %><%= f.file_field :logo %></div>
  <%- if @provider.not.new_record? and @provider.logo_file_name.not.blank? -%>
    <div class="field"><%= image_tag(@provider.logo.url(:display)) %></div>
  <%- end -%>
  <div class="field"><%= f.label :avatar, t('provider.avatar') %><%= f.file_field :avatar %></div>
  <%- if @provider.not.new_record? and @provider.avatar_file_name.not.blank? -%>
    <div class="field"><%= image_tag(@provider.avatar.url(:display)) %></div>
  <%- end -%>
</fieldset>

<fieldset class="fields">
  <div class="field"><%= f.label :company_size, t('provider.company_size') %> <%= f.select :company_size, Provider.options_for_company_size %></div>
  <div class="field"><%= f.label :hourly_rate, t("provider.hourly_rate") %> <span class="prefix">&#36;</span><%= f.text_field :hourly_rate, :class => 'number prefixed' %></div>
  <div class="field"><%= f.label :min_budget, t("provider.min_budget") %> <span class="prefix">&#36;</span><%= f.text_field :min_budget, :class => 'number prefixed' %></div>

  <div class="field">
    <label><%= t('provider.services') %></label>
    <ul class="ticks">
      <%- Service.checked.each do |service| -%>
        <li><%= check_box_tag "dummy_tech_types[]", service.id, true, :id => dom_id(service) %>
        <%= label_tag dom_id(service), service.name %></li>
      <%- end -%>
      <%- Service.ordered_not_checked.each do |service| -%>
        <li><%= check_box_tag "provider[service_ids][]", service.id, @provider.services.include?(service), :id => dom_id(service) %><%= label_tag dom_id(service), service.name %></li>
      <%- end -%>
    </ul>
  </div>
</fieldset>
