<div class="column_twelve">
  <div class="heading">
    <h2><%= t('provider.directory_headline') %></h2>
    <p class="plain-text"><%= t('provider.directory_results_description') %></p>
  </div>
</div>

<hr class='clear' />

<div class="column_eight">
  <%= render :partial => 'providers/providers' %>

  <%= will_paginate(@providers) %>
  
  <hr class="padding" />
</div>

<div class="column_four">
  <ul class="utility plain-text">
    <li><strong><%= link_to t('provider.by_state'), by_location_providers_path %></strong></li>
  </ul>
</div>