<div class="column_twelve heading">
  <h2><%= t('provider.signup_headline') %></h2>

  <p class="plain-text"><%= t('provider.signup_description') %></p>
</div>

<hr class="clear" />

<%= @page_content.content if @page_content %>

<hr class="clear" />

<div class="column_twelve">

<% form_for setup_provider(@provider), :html => {:multipart => true, :class => 'plain-form'} do |f| -%>

  <%= f.error_messages %>

  <h3><%= t('provider.administrator_password_headline') %></h3>

  <p class="plain-text explanation"><%= t('provider.administrator_password_description')%></p>
    
  <fieldset class="fields">
    
    <%- f.fields_for :users do |uf| -%>
      <div class="field"><%= uf.label :first_name, t("user.first_name") %> <%= uf.text_field :first_name %></div>
      <div class="field"><%= uf.label :last_name, t("user.last_name") %> <%= uf.text_field :last_name %></div>
      <div class="field required"><%= uf.label :email, t("user.email") %> <%= uf.text_field :email %></div>
      <div class="field required"><%= uf.label :password, t("user.password") %> <%= uf.password_field :password %></div>
      <div class="field required"><%= uf.label :password_confirmation, t("user.password_again") %> <%= uf.password_field :password_confirmation %></div>
    <%- end -%>
    
  </fieldset>
  
  <hr class="padding" />
  
  <h3><%= t('provider.company_details_headline') %></h3>
  <p class="plain-text explanation"><% t('provider.company_details_descrpition') %></p>
    
  <%= render :partial => 'providers/form', :locals => {:f => f} %>
  
  <hr class="padding" />

  <hr class="padding lined" />

  <div class="recaptcha">
    <%= recaptcha_tags(:ssl => true) %>
  </div>

  <hr class="padding lined" />

  <fieldset class="fields">
    
    <div class="field">
      <label><%= t('provider.terms_of_service') %></label>
      <ul class="ticks">
        <li>
          <%= f.check_box :terms_of_service %>
          <%= f.label :terms_of_service, t('provider.accept_terms_of_service') %>
        </li>
      </ul>
    </div>

  </fieldset>

  <fieldset class="buttons">
    <%= f.submit t('forms.signup'), :class => 'copy-button' %>
  </fieldset>

<% end -%>

</div>