
<div class="dashboard column_twelve">
  <div class="box-heading">
    <h2><%= t('provider.directory_headline') %></h2>
  </div>

  <div class="box-content">
    <div class="plain-text"><p><%= t('provider.directory_results_description') %></p></div>
    <%- if @providers.empty? -%>
      <div class="card-alert"><p class="plain-text"><%= t('provider.no_providers') %></p></div>
    <%- else -%>
      <%- form_for :rfp, :url => new_rfp_path, :html => {:method => :get} do |f| -%>
        <table class="providers plain-table">
          <tr>
            <th class='title'><%= t('provider.company_name') %></th>
            <th><%= t('provider.location') %></th>
            <th><%= t('provider.endorsements')%></th>
            <th><%= t('provider.action')%></th>
          </tr>
          <%- @providers.each do |provider| -%>
            <tr <%= provider.active? ? ' style="background:#ffffee"' : '' %></td>
              <td class='title'><%= link_to provider.company_name, provider_path(provider, :budget => params[:budget], :service_ids => params[:service_ids], :countries => params[:countries]) %></td>
              <td><%= provider.private_address.join(', ') %></td>
              <td><%= provider.endorsements.approved.size>0 ? provider.endorsements.approved.size : '&nbsp;' %></td>
              <td><%= check_box_tag 'provider_ids[]', provider.id, false, :id => dom_id(provider) %></td>
            </tr>
          <%- end -%>
        </table>

<%= will_paginate @providers %>

        <%= hidden_field_tag 'budget', params[:budget] %>
        <%- if params[:service_ids] -%>
          <%- params[:service_ids].each do |service_id| -%>
            <%= hidden_field_tag 'service_ids[]', service_id %>
          <%- end -%>
        <%- end -%>
        <hr class="padding" />
        <fieldset class="buttons">
          <%= f.submit t("general.next"), :id => 'next', :class => 'copy-button' %>
        </fieldset>
      <%- end -%>
    <%- end -%>
  </div>
</div>