<% 
  # Title: <name> Developer Profile | Rails Developer in <city> <state> | Rails Development Directory
  # Meta Description: View the Rails developer profile for <name>, located in <city>, <state>, <country>, providing <services offered>.
 %>

<%- content_for :title do -%><%= @provider.company_name %> <%= t('provider.developer_profile') %> | <%= t('provider.rails_developer_in') %> <%= [@provider.city, @provider.state_province].reject { |a| a.blank? or a == 'NA' }.join(', ') %> | <%- end %>
<%- content_for :description do -%><meta name="description" content="<%= t('provider.developer_description', :name => @provider.company_name, :address => @provider.private_address.join(', '), :services_offered => (Service.checked + @provider.services).collect{ |t| t.name }.join(', ')) %>"><%- end -%>


<div class="search-options">
  <div class="column_ten">
    <ul class="search-options-list">
      <li class="search-option price-range">
        <h3>&#36;2,000 - &#36;3,000</h3>
        <ul class="search-details">
          <li>
            <input type="radio" id="onethousand" />
            <label for="onethousand">&#36;1,000</label>
          </li>
          <li>
            <input type="radio" id="fivethousand" />
            <label for="fivethousand">&#36;5,000</label>
          </li>
          <li>
            <input type="radio" id="tenthousand" />
            <label for="tenthousand">&#36;10,000</label>
          </li>
          <li>
            <input type="radio" id="fiftythousand" />
            <label for="fiftythousand">&#36;50,000</label>
          </li>
          <li>
            <input type="radio" id="onehundredthousand" />
            <label for="onehundredthousand">&#36;100,000</label>
          </li>
        </ul>
      </li>
      <li class="search-option capabilities">
        <h3>Ext JS, Rails, P...</h3>
        <ul class="search-details">
          <li>
            <input type="checkbox" id="extjs" />
            <label for="extjs">Ext JS</label>
          </li>
          <li>
            <input type="checkbox" id="jquery" />
            <label for="jquery">jQuery</label>
          </li>
          <li>
            <input type="checkbox" id="rails" />
            <label for="rails">Rails</label>
          </li>
          <li>
            <input type="checkbox" id="java" />
            <label for="java">Java</label>
          </li>
          <li>
            <input type="checkbox" id="css3" />
            <label for="css3">CSS3</label>
          </li>
          <li>
            <input type="checkbox" id="php" />
            <label for="php">PHP</label>
          </li>
          <li>
            <input type="checkbox" id="touch" />
            <label for="touch">Sencha Touch</label>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="column_two">
    <dl class="favorite-dictionary">
      <dt class="favorite-term">Favorites</dt>
      <dd class="favorite-data">99</dd>
    </dl>
  </div>
  <hr class="clear" />
</div>

<div class="developer">
  <div class="column_three">
    <div class="imagery">
      <%- if @provider.avatar_file_name.not.blank? -%>
        <%= image_tag(@provider.avatar.url(:display)) %>
      <%- end -%>
      <%- if @provider.logo_file_name.not.blank? -%>
        <%= image_tag(@provider.logo.url(:display)) %>
      <%- end -%>
      <img src="/images/gc/webadvanced-avatar.jpg" alt="Web Advanced Avatar" class="avatar" />
      <img src="/images/gc/webadvanced-logo.jpg" alt="Web Advanced Logo" class="logo" />
    </div>
    <ul class="developer-actions">
      <% if logged_in? and current_user.can_edit?(@provider) %>
        <li><%= link_to t('company_profile.edit'), edit_my_provider_path, :class => 'copy-button' %></li>
        <li><%= link_to 'Manage Users', my_users_path, :class => 'copy-button' %></li>
        <li><%= link_to t('portfolio_item.manage'), my_portfolio_items_path, :class => 'copy-button' %></li>
        <li><%= link_to t('endorsement.manage'), my_endorsements_path, :class => 'copy-button' %></li>
      <%- else -%>
        <li class="request"><strong><%= link_to t('provider.request_rfp'), new_rfp_path(:provider_id => @provider.id), :onClick=>"pageTracker._trackEvent('Request', 'Create Proposal', 'Profile');", :class => 'copy-button' %></strong></li>
        <%- if @provider.endorsements.approved.not.empty? -%>
          <li><%= link_to t('provider.view_endorsements'), provider_endorsements_path(@provider), :class => 'copy-button' %></li>
        <%- end -%>
        <%- if @provider.portfolio_items.not.empty? -%>
          <li><%= link_to t('provider.view_portfolio_items'), provider_portfolio_items_path(@provider), :class => 'copy-button' %></li>
        <%- end -%>
      <%- end -%>
    </ul>
  </div>
  <div class="column_six">
    <div class="details">
      <h2><%= @provider.company_name %></h2>
      <ul class="meta-data">
        <li class="meta-datum">
          <%= @provider.private_address.join(", ") %>
        </li>
        <li class="meta-datum inline">
          <img src="/images/icon_money.gif" alt="Price Range" title="price range">
          &#36;5,000 - &#36;15,000
        </li>
        <li class="meta-datum inline">
          <img src="/images/icon_people.gif" alt="employees icon" title="number of employees">
          <%= company_size(@provider) %>
        </li>
      </ul>
      <% if @provider.marketing_description.not.blank? %>
        <div class="synopsis plain-text"><%= sanitize(simple_format(@provider.marketing_description)) %></div>
      <% end %>

      <hr class="padding clear" />

      <h4><%= t('provider.services') %></h4>
      <%- if @provider.services.empty? -%>
        <div class="card-alert"><p class="plain-text"><%= t('provider.no_services') %></p></div>
      <%- else -%>
        <ul class="plain-text bulleted services">
          <%- @provider.services.each do |service| -%>
            <li><%= service.name %></li>
          <%- end -%>
        </ul>
      <%- end -%>
    </div>
  </div>
  <%- if @provider.twitter? -%>
    <div class="column_three">
      <div class="twitter">
        <h3 class="latest-tweets">Latest Tweets</h3>
        <ul class="tweet-list" data-username="<%= escape_javascript @provider.twitter %>">
          
        </ul>
        <a href="http://www.twitter.com/<%= @provider.twitter %>" class="follow-link">Follow @<%= @provider.twitter %></a>
      </div>
    </div>
    <hr class="clear" />
  <%- end -%>
</div>

<% content_for :highlight do %>
  <div class="highlight">
    <div class="container">
      <div class="column_three">
        <h3>
          <a href="/">Get in touch!</a>
        </h3>
      </div>
      <div class="column_six">
        <ul class="contact-details">
          <li class="website">
            <a href="http://www.webadvanced.com">webadvanced.com</a>
          </li>
          <li class="email">
            <a href="mailto:brian@webadvanced.com">brian@webadvanced.com</a>
          </li>
        </ul>
      </div>
      <div class="column_three">
        <ul class="developer-actions">
          <li>
            <a href="/" class="favorite">
              Favorite
            </a>
          </li>
          <li>
            <a href="/" class="share">
              Share
            </a>
          </li>
        </ul>
      </div>
      <hr class="clear" />
    </div>
  </div>
<% end -%>
<% content_for :addendum do -%>
  <div class="container">
    <div class="column_twelve addendum">
      <h3>Other developers from your search</h3>
      <a href="/search" class="action-item">Return to full results</a>
    </div>
    <hr class="clear" />
    <ul class="developer-results">
      <li class="column_six">
        <div class="developer-result">
          <div class="imagery">
            <img src="/images/gc/webadvanced-avatar.jpg" alt="Web Advanced Avatar" class="avatar">
          </div>
          <div class="details">
            <h4>Surf Studio</h4>
            <ul class="meta-data">
              <li class="meta-datum">Palo Alto, CA</li>
              <li class="meta-datum inline">
                <img src="/images/icon_money.gif" alt="price-range">
                &#36;5,000 - &#36;15,000
              </li>
              <li class="meta-datum inline">
                <img src="/images/icon_people.gif" alt="price-range">
                2-10
              </li>
            </ul>
            <div class="synopsis plain-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </div>
          </div>
        </div>
      </li>
      <li class="column_six">
        <div class="developer-result">
          <div class="imagery">
            <img src="/images/gc/webadvanced-avatar.jpg" alt="Web Advanced Avatar" class="avatar">
          </div>
          <div class="details">
            <h4>Surf Studio</h4>
            <ul class="meta-data">
              <li class="meta-datum">Palo Alto, CA</li>
              <li class="meta-datum inline">
                <img src="/images/icon_money.gif" alt="price-range">
                &#36;5,000 - &#36;15,000
              </li>
              <li class="meta-datum inline">
                <img src="/images/icon_people.gif" alt="price-range">
                2-10
              </li>
            </ul>
            <div class="synopsis plain-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </div>
          </div>
        </div>
      </li>
      <li class="column_six">
        <div class="developer-result">
          <div class="imagery">
            <img src="/images/gc/webadvanced-avatar.jpg" alt="Web Advanced Avatar" class="avatar">
          </div>
          <div class="details">
            <h4>Surf Studio</h4>
            <ul class="meta-data">
              <li class="meta-datum">Palo Alto, CA</li>
              <li class="meta-datum inline">
                <img src="/images/icon_money.gif" alt="price-range">
                &#36;5,000 - &#36;15,000
              </li>
              <li class="meta-datum inline">
                <img src="/images/icon_people.gif" alt="price-range">
                2-10
              </li>
            </ul>
            <div class="synopsis plain-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </div>
          </div>
        </div>
      </li>
      <li class="column_six">
        <div class="developer-result">
          <div class="imagery">
            <img src="/images/gc/webadvanced-avatar.jpg" alt="Web Advanced Avatar" class="avatar">
          </div>
          <div class="details">
            <h4>Surf Studio</h4>
            <ul class="meta-data">
              <li class="meta-datum">Palo Alto, CA</li>
              <li class="meta-datum inline">
                <img src="/images/icon_money.gif" alt="price-range">
                &#36;5,000 - &#36;15,000
              </li>
              <li class="meta-datum inline">
                <img src="/images/icon_people.gif" alt="price-range">
                2-10
              </li>
            </ul>
            <div class="synopsis plain-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </div>
          </div>
        </div>
      </li>
    </ul>
    <hr class="clear" />
  </div>
<% end %>