<% 
  # Title: <name> Developer Profile | Rails Developer in <city> <state> | Rails Development Directory
  # Meta Description: View the Rails developer profile for <name>, located in <city>, <state>, <country>, providing <services offered>.
 %>

<%- content_for :title do -%><%= @provider.company_name %> <%= t('provider.developer_profile') %> | <%= t('provider.rails_developer_in') %> <%= [@provider.city, @provider.state_province].reject { |a| a.blank? or a == 'NA' }.join(', ') %> | <%- end %>
<%- content_for :description do -%><meta name="description" content="<%= t('provider.developer_description', :name => @provider.company_name, :address => @provider.private_address.join(', '), :services_offered => (Service.checked + @provider.services).collect{ |t| t.name }.join(', ')) %>"><%- end -%>


<div class="search-options">
  <div class="column_ten">
    <ul class="search-options-list">
      <li class="search-option price-range">
        <h3>&#36;2,000 - &#36;3,000</h3>
        <ul class="search-details">
          <li>
            <input type="radio" id="onethousand" />
            <label for="onethousand">&#36;1,000</label>
          </li>
          <li>
            <input type="radio" id="fivethousand" />
            <label for="fivethousand">&#36;5,000</label>
          </li>
          <li>
            <input type="radio" id="tenthousand" />
            <label for="tenthousand">&#36;10,000</label>
          </li>
          <li>
            <input type="radio" id="fiftythousand" />
            <label for="fiftythousand">&#36;50,000</label>
          </li>
          <li>
            <input type="radio" id="onehundredthousand" />
            <label for="onehundredthousand">&#36;100,000</label>
          </li>
        </ul>
      </li>
      <li class="search-option capabilities">
        <h3>Ext JS, Rails, P...</h3>
        <ul class="search-details">
          <li>
            <input type="checkbox" id="extjs" />
            <label for="extjs">Ext JS</label>
          </li>
          <li>
            <input type="checkbox" id="jquery" />
            <label for="jquery">jQuery</label>
          </li>
          <li>
            <input type="checkbox" id="rails" />
            <label for="rails">Rails</label>
          </li>
          <li>
            <input type="checkbox" id="java" />
            <label for="java">Java</label>
          </li>
          <li>
            <input type="checkbox" id="css3" />
            <label for="css3">CSS3</label>
          </li>
          <li>
            <input type="checkbox" id="php" />
            <label for="php">PHP</label>
          </li>
          <li>
            <input type="checkbox" id="touch" />
            <label for="touch">Sencha Touch</label>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="column_two">
    <dl class="favorite-dictionary">
      <dt class="favorite-term">Favorites</dt>
      <dd class="favorite-data">99</dd>
    </dl>
  </div>
  <hr class="clear" />
</div>

<div class="developer">
  <div class="column_three">
    <div class="imagery">
      <%- if @provider.logo_file_name.not.blank? -%>
        <%= image_tag(@provider.logo.url(:display)) %>
      <%- end -%>
      <img src="/images/gc/webadvanced-avatar.jpg" alt="Web Advanced Avatar" class="avatar" />
      <img src="/images/gc/webadvanced-logo.jpg" alt="Web Advanced Logo" class="logo" />
    </div>
    <ul class="developer-actions">
      <li class=""><a href="/" class="copy-button">send a request</a></li>
      <li class=""><a href="/" class="copy-button">view endorsements</a></li>
      <li class=""><a href="/" class="copy-button">view portfolio</a></li>
    </ul>
  </div>
  <div class="column_six">
    <div class="details">
      <h2><%= @provider.company_name %></h2>
      <ul class="meta-data">
        <li class="meta-datum">
          <%= @provider.private_address.join(", ") %>
        </li>
        <li class="meta-datum price-range">
          &#36;5,000 - &#36;15,000
        </li>
      </ul>
      <% if @provider.marketing_description.not.blank? %>
        <div class="synopsis plain-text"><%= sanitize(simple_format(@provider.marketing_description)) %></div>
      <% end %>
    </div>
  </div>
  <div class="column_three">
    <div class="twitter">
      <h3 class="latest-tweets">Latest Tweets</h3>
      <ul class="tweet-list">
        <li class="tweet-item">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
        <li class="tweet-item">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </li>
        <li class="tweet-item">
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </li>
      </ul>
      <a href="http://www.twitter.com/" class="follow-link">Follow @davekaneda</a>
    </div>
  </div>
  <hr class="clear" />
</div>

<div class="column_twelve">
  <ul class="sidebar links">
    <% if logged_in? and current_user.can_edit?(@provider) %>
      <li><%= link_to t('company_profile.edit'), edit_my_provider_path %></li>
      <li><%= link_to t('portfolio_item.manage'), my_portfolio_items_path %></li>
      <li><%= link_to t('endorsement.manage'), my_endorsements_path %></li>
    <%- else -%>
      <li class="request"><%= link_to t('provider.request_rfp'), new_rfp_path(:provider_id => @provider.id), :onClick=>"pageTracker._trackEvent('Request', 'Create Proposal', 'Profile');" %></li>
    <%- end -%>
  </ul>
</div>

<div class="narrow">
  <div class="block companyInfo">
    <div class="column">    
      <h4><%= t('provider.company_size') %></h4>
      <%= company_size(@provider) %>
    </div>
    <div class="clear"></div>
  </div>
  
  <div class="block services">
    <h4><%= t('provider.services') %></h4>
    <%- if @provider.services.empty? -%>
      <%= t('provider.no_services') %>
    <%- else -%>
      <ul>
        <%- @provider.services.each do |service| -%>
          <li><%= service.name %></li>
        <%- end -%>
      </ul>
    <%- end -%>
  </div>


  <%- if @provider.portfolio_items.empty? -%>
    <% # t('provider.no_portfolio_items') %>
    <%- if logged_in? and current_user.can_edit?(@provider) -%>
      <div class="block portfolio">
        <h4><%= t('provider.portfolio_items_headline') %></h4>
        <%= link_to t('provider.add_now'), new_my_portfolio_item_path %>
      </div>
    <%- end -%>
  <%- else -%>
    <div class="block portfolio">
      <h4><%= t('provider.portfolio_items_headline') %></h4>
      <dl>
        <%- @provider.portfolio_items.each do |item| -%>
          <dt><%= link_to item.name, item.url %></dt>
          <dd><%= item.description %></dd>
          <dd class="date"><%= t('portfolio_item.project_completed_in') + item.year_completed %></dd>
        <%- end -%>
      </dl>
    </div>
  <%- end -%>

</div>

<div class="sidebar">
  
  <!-- <% form_for :provider, :url => new_rfp_path, :html => {:method => :get} do |f| -%>
      <%= hidden_field_tag "provider_id", @provider.id %>
      <%= f.submit t('provider.send_rfp') %>
    <% end -%> -->
  
  <h3><%= t('provider.endorsements_headline') %></h3>
  
  <%- if @provider.endorsements.approved.empty? -%>
    <p><%= t('provider.no_endorsements') %></p>
  <%- else -%>
    <% @provider.endorsements.recent.approved.each do |endorsement| %>
      <div>
        <blockquote>&#8220;<%= h endorsement.endorsement %>&#8221;</blockquote>
        <cite>
          <% # This part needs to get cleaned up %>
          <%=h endorsement.name %>, <%=h endorsement.position %> <%= t('endorsement.at') %> <%=h endorsement.company %><br />
          <%= t('endorsement.hired') %> <%=h @provider.company_name %> <%= t('endorsement.in') %> <%=h endorsement.year_hired %>
        </cite>
      </div>
    <%- end -%> 
  <%- end -%>
  
  <%- if @provider.endorsements.approved.count > 3 -%>
    <%= link_to t('provider.more_endorsements'), provider_endorsements_path(@provider), :id => 'more-endorsements' %>
    | 
  <%- end -%>
  <% if logged_in? and current_user.provider == @provider %>
    <%= link_to t('endorsement.ask_for_endorsement'), new_my_endorsement_request_path %>
  <%- else -%>
    <%= link_to t('provider.endorse'), new_provider_endorsement_path(@provider) %>
  <%- end -%>
</div>

<% content_for :highlight do %>
  <div class="highlight">
    <div class="container">
      <div class="column_three">
        <h3>
          <a href="/">Get in touch!</a>
        </h3>
      </div>
      <div class="column_six">
        <ul class="contact-details">
          <li class="website">
            <a href="http://www.webadvanced.com">webadvanced.com</a>
          </li>
          <li class="email">
            <a href="mailto:brian@webadvanced.com">brian@webadvanced.com</a>
          </li>
        </ul>
      </div>
      <div class="column_three">
        <ul class="developer-actions">
          <li>
            <a href="/" class="favorite">
              Favorite
            </a>
          </li>
          <li>
            <a href="/" class="share">
              Share
            </a>
          </li>
        </ul>
      </div>
      <hr class="clear" />
    </div>
  </div>
<% end -%>
<% content_for :addendum do -%>
  <div class="container">
    <div class="column_twelve addendum">
      <h3>Other developers from your search</h3>
      <a href="/search" class="action-item">Return to full results</a>
    </div>
    <hr class="clear" />
    <ul class="developer-results">
      <li class="column_six">
        <div class="developer-result">
          <div class="imagery">
            <img src="/images/gc/webadvanced-avatar.jpg" alt="Web Advanced Avatar" class="avatar">
          </div>
          <div class="details">
            <h4>Surf Studio</h4>
            <ul class="meta-data">
              <li class="meta-datum">Palo Alto, CA</li>
              <li class="meta-datum price-range">&#36;5,000 - &#36;15,000</li>
            </ul>
            <div class="synopsis plain-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </div>
          </div>
        </div>
      </li>
      <li class="column_six">
        <div class="developer-result">
          <div class="imagery">
            <img src="/images/gc/webadvanced-avatar.jpg" alt="Web Advanced Avatar" class="avatar">
          </div>
          <div class="details">
            <h4>Surf Studio</h4>
            <ul class="meta-data">
              <li class="meta-datum">Palo Alto, CA</li>
              <li class="meta-datum price-range">&#36;5,000 - &#36;15,000</li>
            </ul>
            <div class="synopsis plain-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </div>
          </div>
        </div>
      </li>
      <li class="column_six">
        <div class="developer-result">
          <div class="imagery">
            <img src="/images/gc/webadvanced-avatar.jpg" alt="Web Advanced Avatar" class="avatar">
          </div>
          <div class="details">
            <h4>Surf Studio</h4>
            <ul class="meta-data">
              <li class="meta-datum">Palo Alto, CA</li>
              <li class="meta-datum price-range">&#36;5,000 - &#36;15,000</li>
            </ul>
            <div class="synopsis plain-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </div>
          </div>
        </div>
      </li>
      <li class="column_six">
        <div class="developer-result">
          <div class="imagery">
            <img src="/images/gc/webadvanced-avatar.jpg" alt="Web Advanced Avatar" class="avatar">
          </div>
          <div class="details">
            <h4>Surf Studio</h4>
            <ul class="meta-data">
              <li class="meta-datum">Palo Alto, CA</li>
              <li class="meta-datum price-range">&#36;5,000 - &#36;15,000</li>
            </ul>
            <div class="synopsis plain-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </div>
          </div>
        </div>
      </li>
    </ul>
    <hr class="clear" />
  </div>
<% end %>