<div class="column_twelve heading">
  <h2><%= t('user.set_new_password') %></h2>
</div>

<div class="column_twelve">
  <% form_for @user, :url => password_reset_path(:id => params[:id]), :html => {:method => :put, :class => 'plain-form'} do |f| -%>
    <fieldset class="fields">
      <div class="field">
        <%= f.label :password, t("user.password") %> <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, t("user.password_again") %> <%= f.password_field :password_confirmation %>
      </div>
    </fieldset>
    <fieldset class="buttons">
      <%= f.submit t("user.save_new_password"), :class => 'copy-button' %>
    </fieldset>
  <% end -%>
</div>