<div class="dashboard column_twelve">
  <div class="box-heading">
    <h3><%= t('endorsement.endorsements_for', :company_name => @provider.company_name) %></h3>
    <ul class="utility">
      <li><%= link_to t('provider.request_endorsement'), new_my_endorsement_request_path %></li>
      <li><%= link_to t('provider.sort_endorsements'), '#', :class => 'sort-endorsements' %></li>
    </ul>
  </div>
  <div class="box-content">
    <%- if @endorsements.blank? -%>
      <div class="card-alert"><p class="plain-text"><%= t('provider.no_endorsements')%></p></div>
    <%- else -%>
  
      <div id="sorting-endorsements">
          <ul>
            <%- @endorsements.each do |endorsement| -%>
              <li class="sortable" id="<%= dom_id(endorsement) %>">
                <strong><%= endorsement.name %></strong> <em><%= truncate(endorsement.endorsement) %></em></li>
            <%- end -%>
          </ul>
        
      </div>
      <div id="non-sorting-endorsements">
        <%- form_tag update_all_my_endorsements_path do -%>
          <table class="endorsements plain-table">
            <tr>
              <th><%= t('endorsement.is_approved') %></th>
              <th><%= t('endorsement.admin.name') %></th>
              <th><%= t('endorsement.admin.email') %></th>
              <th><%= t('endorsement.admin.year_hired') %></th>
              <th>&nbsp;</th>
            </tr>
          <tbody id="endorsements-collection">
            <%= render :partial => "endorsement", :collection => @endorsements %>
          </tbody>
          </table>
          <%= submit_tag t('endorsement.approve_selected') %>
        <%- end -%>
      </div>
    <%- end -%>
  </div>
  <div class="box-heading">
    <h3><%= t('endorsement_request.headline') %></h3>
  </div>
  <div class="box-content">
    <%- if @endorsement_requests.empty? -%>
      <div class="card-alert"><p class="plain-text"><%= t('provider.no_endorsement_requests')%></p></div>
    <%- else -%>
      <table class="endorsements plain-table">
        <tr>
          <th><%= t('endorsement_request.recipients') %></th>
          <th><%= t('endorsement_request.message') %></th>
        </tr>
      <% @endorsement_requests.each do |endorsement| %>
      <tr>
        <td>
        <% endorsement.recipients.each do |recipient| -%>
          <%=h recipient.email %><br />
        <% end -%>
        </td>
        <td><%= endorsement.message %></td>
      </tr>
      <%- end -%>
      </table>
    <%- end -%>
  </div>
</div>