<div class="column_twelve">
  <div class="box-heading">
    <h3><%= t('endorsement.show_endorsement', :company_name => @provider.company_name) %></h3>
    <ul class="utility">
      <li>
        <%- if ["new", "rejected"].include?(@endorsement.state) -%>
          <%- form_for [:my, @endorsement] do |f| -%>
              <%= hidden_field_tag "state", "approved" %>
              <%= f.submit t('endorsement.approve'), :class => 'copy-button' %>
              <%= t('forms.or') if @endorsement.state == 'new' %> 
          <% end -%>
        <%- end -%>

        <%- if ["new", "approved"].include?(@endorsement.state) -%>
          <%- form_for [:my, @endorsement] do |f| -%>

            <%= hidden_field_tag "state", "rejected" %>
            <%= f.submit t('endorsement.reject'), :class => 'copy-button' %>

          <% end -%>
        <%- end -%>
      </li>
    </ul>
    <ul class="action-items">
      <li>
        <%= link_to "return to dashboard", my_dashboard_path, :class => 'action-item' %>
      </li>
    </ul>
  </div>

  <div class="box-content">
    <table class="plain-table">
      <tr>
        <td>
          <strong><%= t("endorsement.admin.name") %></strong>
        </td>
        <td>
          <%= @endorsement.name %>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= t("endorsement.admin.email") %></strong>
        </td>
        <td>
          <%= mail_to @endorsement.email, @endorsement.email %>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= t("endorsement.admin.position") %></strong>
        </td>
        <td>
          <%= @endorsement.position %>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= t("endorsement.admin.company") %></strong>
        </td>
        <td>
          <%= @endorsement.company %>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= t("endorsement.admin.url") %></strong>
        </td>
        <td>
          <%= link_to @endorsement.url, @endorsement.url %>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= t("endorsement.admin.year_hired") %></strong>
        </td>
        <td>
          <%= @endorsement.year_hired %>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= t("endorsement.admin.endorsement") %></strong>
        </td>
        <td>&#8220;<%= @endorsement.endorsement %>&#8221;</td>
      </tr>
    </table>
  </div>
</div>