<div class="heading">
  <h2><%= t('rfp.show_rfp') %>: <strong><%= @rfp.project_name %></strong></h2>
  <div class="plain-text"><%= t('rfp.submitted_on') %> <%= @rfp.created_at_formatted %></div>
  
  <ul class="action-items">
    <li>
      <%= link_to "return to requests", my_dashboard_path, :class => 'action-item' %>
    </li>
  </ul>
</div>

<div class="container">
  <div class="column_six">
    <h3><%= t('rfp.project_owner') %></h3>
    <dl class="plain-dictionary">
      <dt><%= t('rfp.submitted_by') %></dt>
      <dd><%= @rfp.first_name %> <%= @rfp.last_name %></dd>
      <dt><%= t('rfp.email') %></dt>
      <dd><%= mail_to @rfp.email %></dd>
      <dt><%= t('rfp.phone_number') %></dt>
      <dd><%= @rfp.phone_number %></dd>
      <dt><%= t('rfp.company_name') %></dt>
      <dd><%= @rfp.company_name %></dd>
      <dt>Address</dt>
      <dd><%= @rfp.office_location %><br /><%= @rfp.postal_code %></dd>
      <dt><%= t('rfp.time_zone') %></dt>
      <dd><%= @rfp.time_zone %></dd>
    </dl>
  </div>

  <div class="column_six">
    <h3><%= t('rfp.project_details') %></h3>
    
    <dl class="plain-dictionary">
      <dt><%= t('rfp.project_name') %></dt>
      <dd><%= @rfp.project_name %></dd>
      <dt><%= t('rfp.budget') %></dt>
      <dd><%= price @rfp.budget %></dd>
      <dt><%= t('rfp.start_date') %></dt>
      <dd><%= @rfp.start_date_formatted %></dd>
      <dt><%= t('rfp.duration') %></dt>
      <dd><%= @rfp.duration %></dd>
      <dt><%= t('rfp.services') %></dt>
      <dd>
        <ul class="facts">
          <% @rfp.requested_services.each do |service| %>
            <li><%= service.name %></li>
          <%- end -%>
        </ul>
      </dd>
      <dt><%= t('rfp.insurance_requirements') %></dt>
      <dd>
        <ul class="facts">
          <li><%= t('rfp.general_liability_insurance') %>: <%= yes_or_no(@rfp.general_liability_insurance)%></li>
          <li><%= t('rfp.professional_liability_insurance') %>: <%= yes_or_no(@rfp.professional_liability_insurance) %></li>
        </ul>
      </dd>
      <dt><%= t('rfp.details') %></dt>
      <dd><%= t('rfp.nda_required') if @rfp.nda_required? %></dd>
      <dt>Project Description</dt>
      <dd><%= @rfp.project_description %></dd>
      <dt><%= t('rfp.platform_requirements')%></dt>
      <dd><%= @rfp.platform_requirements %></dd>
      <dt><%= t('rfp.additional_services') %></dt>
      <dd><%= @rfp.additional_services %></dd>
    </dl>
  </div>

  <hr class="clear fatty" />
  
  <div class="column_twelve">
    <p class="plain-text"><%= t('rfp.delete_note') %></p>
  
    <% form_for [:my, @request], :html => {:method => :delete, :class => 'plain-form'} do |f| -%>
      <fieldset>
        <%= f.submit t('rfp.delete'), :class => "delete copy-button" %>
      </fieldset>
    <% end -%>
  </div>
</div>