<% content_for :search_options do -%>
<div class="search-options-bar">
  <div class="container">
    <div class="search-options">
      <div class="column_ten">
        <% form_tag search_providers_path, :method => :get, :id => 'search-form' do -%>
          <ul class="search-options-list">
            <li class="search-option price-range">
              <h3 data-original-value="Choose Budget">
                <%- if params[:search_params].present? && params[:search_params][:budget].present? -%>
                  &#36;<%= number_with_delimiter(params[:search_params][:budget].to_i) %>
                <%- else -%>
                  Choose Budget
                <%- end -%>
              </h3>
              <ul class="search-details">
                <%- ['1000', '5000', '10000', '20000', '50000', '100000'].each do |amount| -%>
                  <li>
                    <input name="budget" type="radio" id="amount-<%= amount %>" value="<%= amount %>" <%= 'checked' if params[:budget].present? && params[:budget] == amount %>/>
                    <label for="amount-<%= amount %>">
                      &#36;<%= number_with_delimiter(amount) %>
                    </label>
                  </li>
                <%- end -%>
              </ul>
            </li>
            <li class="search-option capabilities">
              <h3 data-original-value="Choose Technology">
                <%- if @services.present? -%>
                  <%= truncate(@services.collect { |s| s.name }.join(', '), :length => 17) %>
                <%- else -%>
                  <%- if Service.checked.any? -%>
                    <%= Service.checked.collect { |s| s.name }.join(', ') %>
                  <%- else -%>
                    Choose Technology
                  <%- end -%>
                <%- end -%>
              </h3>
              <ul class="search-details">
                <%- Service.ordered.each do |service| -%>
                  <li>
                    <input
                     name="service_ids[]"
                     data-label="<%= service.name %>"
                     type="checkbox"
                     id="<%= service.name.parameterize %>"
                     value="<%= service.id %>"
                     <%- if @services.present? -%>
                       <%= 'checked' if @services.collect{ |s| s.id }.include?(service.id) %> />
                     <%- else -%>
                       <%= 'checked="checked"' if service.checked? and @services.blank? %>/>
                     <%- end -%>
                    <label for="<%= service.name.parameterize %>"><%= service.name %></label>
                  </li>
                <%- end -%>
              </ul>
            </li>
          </ul>
          <input name="commit" id="go-button" class="copy-button _search" type="submit" value="Search" />
        <%- end -%>
      </div>
      <%- if false -%>
        <div class="column_two">
          <dl class="favorite-dictionary">
            <dt class="favorite-term"><%= link_to 'Favorites', favorites_path %></dt>
            <dd class="favorite-data"><%= @favorites.count %></dd>
          </dl>
        </div>
      <%- end -%>
      <hr class="clear" />
    </div>
  </div>
</div>
<% end -%>