<% content_for :search_options do -%>
<div class="search-options-bar">
  <div class="container">
    <div class="search-options">
      <div class="column_ten">
        <% form_tag search_providers_path, :method => :get, :id => 'search-form' do -%>
          <ul class="search-options-list">
            <li class="search-option price-range">
              <h3 data-original-value="Choose Budget">
                <%- if params[:search_params].present? && params[:search_params][:budget].present? -%>
                  &#36;<%= number_with_delimiter(params[:search_params][:budget].to_i) %>
                <%- else -%>
                  Choose Budget
                <%- end -%>
              </h3>
              <ul class="search-details">
                <%- ['1000', '5000', '10000', '20000', '50000', '100000'].each do |amount| -%>
                  <li>
                    <input name="budget" type="radio" id="amount-<%= amount %>" value="<%= amount %>" <%= 'checked' if params[:budget].present? && params[:budget] == amount %>/>
                    <label for="amount-<%= amount %>">
                      &#36;<%= number_with_delimiter(amount) %>
                    </label>
                  </li>
                <%- end -%>
              </ul>
            </li>
            <li class="search-option capabilities">
              <h3 data-original-value="Choose Technologies">
                <%- if @services.present? -%>
                  <%= truncate(@services.collect { |s| s.name }.join(', ')) %>
                <%- else -%>
                  <%- if Service.checked.any? -%>
                    <%= Service.checked.collect { |s| s.name }.join(', ') %>
                  <%- else -%>
                    Choose Technologies
                  <%- end -%>
                <%- end -%>
              </h3>
              <div class="search-details">
                <ul class="search-details-scroll">
                  <%- Service.ordered.each do |service| -%>
                    <li>
                      <input
                       name="service_ids[]"
                       data-label="<%= service.name %>"
                       type="checkbox"
                       id="<%= service.name.parameterize %>"
                       value="<%= service.id %>"
                       <%- if @services.present? -%>
                         <%= 'checked' if @services.collect{ |s| s.id }.include?(service.id) %> />
                       <%- else -%>
                         <%= 'checked="checked"' if service.checked? and @services.blank? %>/>
                       <%- end -%>
                      <label for="<%= service.name.parameterize %>"><%= service.name %></label>
                    </li>
                  <%- end -%>
                </ul>
              </div>
            </li>

            <li class="search-option countries">
              <h3 data-original-value="Choose Countries">
                <%- if @countries.present? -%>
                  <%= truncate(@countries.collect { |c| c[0] }.join(', ')) %>
                <%- else -%>
                  Choose Countries
                <%- end -%>
              </h3>
              <div class="search-details">
                <ul class="search-details-scroll">
                  <%- Provider.locations_for_select.each do |country| -%>
                    <li>
                      <input
                       name="countries[]"
                       data-label="<%= country[0] %>"
                       type="checkbox"
                       id="<%= country[0].parameterize %>"
                       value="<%= country[1] %>"
                      <%- if @countries.present? -%>
                        <%= 'checked' if @countries.collect{ |c| c[1] }.include?(country[1]) %>
                      <%- end -%>
                      />
                      <label for="<%= country[0].parameterize %>"><%= country[0] %></label>
                    </li>
                  <%- end -%>
                </ul>
              </div>
            </li>
          </ul>
          <input name="commit" id="go-button" class="copy-button _search" type="submit" value="Search" />
        <%- end -%>
      </div>
      <%- if false -%>
        <div class="column_two">
          <dl class="favorite-dictionary">
            <dt class="favorite-term"><%= link_to 'Favorites', favorites_path %></dt>
            <dd class="favorite-data"><%= @favorites.count %></dd>
          </dl>
        </div>
      <%- end -%>
      <hr class="clear" />
    </div>
  </div>
</div>
<% end -%>