<%= f.error_messages %>

<fieldset class="fields">
  <div class="field"><%= f.label :first_name, t("user.first_name") %> <%= f.text_field :first_name %></div>
  <div class="field"><%= f.label :last_name, t("user.last_name") %> <%= f.text_field :last_name %></div>
</fieldset>
<fieldset class="fields">
  <div class="field"><%= f.label :email, t("user.email") %> <%= f.text_field :email %></div>
</fieldset>
<fieldset class="fields">
  <div class="field"><%= f.label :password, t("user.password") %> <%= f.password_field :password %></div>
  <div class="field"><%= f.label :password_confirmation, t("user.password_again") %> <%= f.password_field :password_confirmation %></div>
</fieldset>
<fieldset class="buttons">
  <%= f.submit t('forms.save'), :class => 'copy-button' %> <div class="cop-out"><%= t('forms.or') %> <%= link_to t('forms.cancel'), my_users_path %></div>
</fieldset>