<div class="dashboard column_twelve">
  <div class="box-heading">
    <h3><%= t('company_profile.users.manage_headline') %></h3>

    <!-- Uncomment to add a description -->
    <!-- <p class="description"><%= t('company_profile.users.manage_description') %></p> -->

    <%- if current_user.can_admin?(current_user.provider) -%>
      <ul class="utility">
        <li><%= link_to t('company_profile.users.add_new'), new_my_user_path %></li>
      </ul>
    <%- end -%>
  </div>
  
  <div class="box-content">
    <%- if @users.empty? -%>
      <div class="card-alert"><p class="plain-text"><%= t('provider.no_users') %></p></div>
    <%- else -%>
      <table class="plain-table">
        <tr>
          <th><%= t('user.email') %></th>
          <th><%= t('user.name') %></th>
          <th>&nbsp;</th>
        </tr>
      <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, [:my, user] %></td>
        <td><%= user.name %> <%= "(#{t('provider.admin')})" if user == current_user.provider.user %></td>
        <td>
          <%- if logged_in? and current_user.can_edit?(user) -%>
            <%= link_to t('general.edit'), edit_my_user_path(user) %>
          <%- end -%>
        </td>
      </tr>
      <%- end -%>
      </table>
    <%- end -%>
  </div>

  <%= will_paginate %>

</div>