<%- content_for :keywords do -%><meta name="keywords" content="<%= @page.keywords if @page %>"><%- end -%>
<%- content_for :description do -%><meta name="description" content="<%= @page.description if @page %>"><%- end -%>


<div class="heading">
  <%- if @page -%>
    <h2><%= @page.title %></h2>
    <div class="plain-text"><p><%= @page.description %></p></div>
  <%- else -%>
    <h2><%= t('home.welcome') %></h2>
    <div class="plain-text"><p><%= t('home.description') %></p></div>
  <%- end -%>
</div>

<div class="plain-text">
<%= @page.content if @page %>
</div>

<%- content_for :highlight do %>
  <div class="highlight">
    <div class="container">
      <div class="column_three">
        <h3>
          <%= link_to t('home.find_a_provider'), provider_directory_path %>
        </h3>
      </div>
      <div class="column_six">
        <div class="search-options">
          <% form_tag search_providers_path, :method => :get, :id => 'search-form' do -%>
            <ul class="search-options-list">
              <li class="search-option price-range">
                <h3 data-original-value="Choose Budget...">Choose Budget...</h3>
                <ul class="search-details">
                  <li>
                    <input name="budget" type="radio" id="onethousand" value="1000"/>
                    <label for="onethousand">&#36;1,000</label>
                  </li>
                  <li>
                    <input name="budget" type="radio" id="fivethousand" value="5000"/>
                    <label for="fivethousand">&#36;5,000</label>
                  </li>
                  <li>
                    <input name="budget" type="radio" id="tenthousand" value="10000"/>
                    <label for="tenthousand">&#36;10,000</label>
                  </li>
                  <li>
                    <input name="budget" type="radio" id="twentythousand" value="20000"/>
                    <label for="twentythousand">&#36;20,000</label>
                  </li>
                  <li>
                    <input name="budget" type="radio" id="fiftythousand" value="50000"/>
                    <label for="fiftythousand">&#36;50,000</label>
                  </li>
                  <li>
                    <input name="budget" type="radio" id="onehundredthousand" value="100000"/>
                    <label for="onehundredthousand">&#36;100,000</label>
                  </li>
                </ul>
              </li>
              <li class="search-option capabilities">
                <h3 data-original-value="Choose Service(s)...">
                  <%- if Service.checked.any? -%>
                    <%= Service.checked.collect { |s| s.name }.join(', ') %>
                  <%- else -%>
                    Choose Service(s)...
                  <%- end -%>
                </h3>
                <ul class="search-details">
                  <%- Service.ordered.each do |service| -%>
                    <li>
                      <input
                       name="service_ids[]"
                       data-label="<%= service.name %>"
                       type="checkbox"
                       id="<%= service.name.parameterize %>"
                       value="<%= service.id %>"
                       <%= 'checked="checked"' if service.checked? %>/>
                      <label for="<%= service.name.parameterize %>"><%= service.name %></label>
                    </li>
                  <%- end -%>
                </ul>
              </li>
            </ul>
            <input name="commit" id="go-button" class="copy-button" type="submit" value="Go" />
          <%- end -%>
        </div>
      </div>
      <div class="column_three">
        &nbsp;
      </div>
      <hr class="clear" />
    </div>
  </div>
<% end -%>

<%- if false -%>

<% content_for :addendum do -%>
  <div class="container">
    <div class="column_twelve addendum">
      <h3>Featured Developers</h3>
    </div>
    <hr class="clear" />
    <ul class="developer-results">
      <%- Provider.featured.each do |provider| -%>
      <li class="column_six">
        <div class="developer-result">
          <%- if provider.avatar.exists? -%>
            <div class="imagery">
              <%= image_tag(provider.avatar.url(:display), :class => "avatar", :alt => provider.company_name) %>
            </div>
          <%- end -%>
          <div class="details">
            <h4><%= link_to provider.company_name, provider %></h4>
            <ul class="meta-data">
              <li class="meta-datum"><%= provider.private_address.join(", ") %></li>
              <li class="meta-datum price-range">&#36;<%= number_with_delimiter provider.min_budget.to_i %>+</li>
            </ul>
            <div class="synopsis plain-text">
              <%= sanitize(simple_format(provider.marketing_description)) %>
            </div>
          </div>
        </div>
      </li>
      <%- end -%>
    </ul>
    <hr class="clear" />
  </div>
<% end %>

<%- end -%>
