<div class="column_twelve">
  <div class="heading">
    <h2><%= t('endorsement.endorsements_for', :company_name => @provider.company_name) %></h2>
    <ul class="action-items">
      <li>
        <%= link_to "return to summary", @provider, :class => 'action-item' %>
      </li>
    </ul>
    <hr class="clear" />
  </div>
</div>

<hr class="clear" />

<%- if @endorsements.empty? -%>
  <div class="column_twelve">
    <div class="card-alert"><p class="plain-text"><%= t('provider.no_endorsements')%></p></div>
  </div>
<%- else -%>
  <ul class="card-list">
    <% @endorsements.each do |endorsement| %>
      <li class="column_six">
        <div class="card-item">
          <div class="plain-text">
            <blockquote>&#8220;<%= endorsement.endorsement %>&#8221;</blockquote>
          </div>
          <div class="source">
            <h4><%=h endorsement.name %></h4>
            <cite>
              <%=h endorsement.position %> <%= t('endorsement.at') %> <%=h endorsement.company %><br />
              <%= t('endorsement.hired') %> <%=h @provider.company_name %> <%= t('endorsement.in') %> <%=h endorsement.year_hired %>
            </cite>
          </div>
        </div>
      </li>
    <%- end -%>
  </ul>
<%- end -%>

<hr class="padding" />
<div class="column_twelve">
  <%= will_paginate %>
</div>
<hr class="fatty" />