<div class="column_twelve">
  <h2><%= t('provider.endorsement_headline') %></h2>
  <div class="plain-text"><p><%= t('provider.endorsement_description', :company => @provider.company_name) %></p></div>
</div>

<hr class="clear" />

<div class="column_twelve">
  <% form_for [@provider, @endorsement], :html => { :class => 'plain-form' } do |f| -%>
    <%= f.error_messages %>

    <%= hidden_field_tag :key, params[:key] %>
    <%= f.hidden_field :endorsement_request_recipient_id, :value => @recipient.id %>

    <fieldset class="fields">
      <div class="field"><%= f.label :name, t("endorsement.name") %> <%= f.text_field :name %></div>
      <div class="field"><%= f.label :year_hired, t("endorsement.year_hired", :company => @provider.company_name) %> <%= f.select :year_hired, (2004..Time.now.year.to_i).entries.reverse %></div>
      <div class="field"><%= f.label :company, t("endorsement.company") %> <%= f.text_field :company %></div>
      <div class="field"><%= f.label :url, t("endorsement.url") %> <%= f.text_field :url %></div>
      <div class="field"><%= f.label :position, t("endorsement.position") %> <%= f.text_field :position %></div>
      <div class="field"><%= f.label :email, t("endorsement.email") %> <%= f.text_field :email %></div>
      <div class="field"><%= f.label :endorsement, t("endorsement.endorsement") %><%= f.text_area :endorsement %></div>
    </fieldset>

    <hr class="padding" />

    <hr class="padding lined" />

    <div class="recaptcha">
      <%= recaptcha_tags %>
    </div>

    <hr class="padding lined" />

    <fieldset class="buttons">
      <%= f.submit t('endorsement.save'), :class => 'copy-button' %>
    </fieldset>
  <%- end -%>
</div>