<div class="column_twelve">
  <div class="heading">
    <h2><%= t('rfp.new_rfp_headline') %></h2>

    <p class="plain-text"><%= t('rfp.new_rfp_description') %></p>

    <p class="plain-text"><em><%= t('rfp.disclaimer') %></em></p>
  </div>
</div>

<hr class="padding" />

<% form_for setup_rfp(@rfp), :html => { :class => 'plain-form' } do |f| -%>
  
  <%= f.error_messages %>

  <h3><%= t('rfp.choose_providers') %></h3>

  <fieldset class="fields">
    <div class="field">
      <ul class="plain-text">
        <%- @providers.each do |provider| -%>
          <li><%= hidden_field_tag "rfp[provider_ids][]", provider.id %><%= link_to provider.company_name, provider %></li>
        <%- end -%>
      </ul>
    </div>
  </fieldset>

  <hr class="lined padding" />

  <h3><%= t('rfp.about_you') %></h3>

  <fieldset class="fields">
    <div class="field"><%= f.label :first_name, t("rfp.first_name") %> <%= f.text_field :first_name %></div>
    <div class="field"><%= f.label :last_name, t("rfp.last_name") %> <%= f.text_field :last_name %></div>
    <div class="field"><%= f.label :company_name, t("rfp.company_name") %> <%= f.text_field :company_name %></div>  
    <div class="field"><%= f.label :email, t("rfp.email") %> <%= f.text_field :email %></div>
    <div class="field"><%= f.label :phone_number, t("rfp.phone_number") %> <%= f.text_field :phone_number %></div>
    <div class="field"><%= f.label :office_location, t("rfp.office_location") %> <%= f.text_field :office_location %></div>
    <div class="field"><%= f.label :postal_code, t("rfp.postal_code") %> <%= f.text_field :postal_code %></div>
    <div class="field"><%= f.label :time_zone, t("rfp.time_zone") %> <%= f.time_zone_select :time_zone %></div>
  </fieldset>

  <hr class="lined padding" />

  <h3><%= t('rfp.about_your_project') %></h3>

  <fieldset class="fields">
    <div class="field"><%= f.label :project_name, t("rfp.project_name") %> <%= f.text_field :project_name %></div>
    <div class="field"><%= f.label :budget, t("rfp.budget") %> <%= f.select :budget, Rfp.options_for_budget %></div>
    <div class="field"><%= f.label :start_date, t("rfp.start_date") %> <%= f.text_field :start_date, :class => "date" %></div>
    <div class="field"><%= f.label :duration, t("rfp.duration") %> <%= f.text_field :duration %></div>
    <div class="field">
      <label><%= t('rfp.services') %></label>
      <ul>
        <%- f.fields_for :requested_services do |rf| -%>
          <li>
            <%- if rf.object.checked -%>
              <%= image_tag '/images/icon-check.png', :class=>"check"%>
              <!-- <%= check_box_tag "dummy-#{dom_id(rf.object)}", 0, true, :disabled => true %> -->
              <%= label_tag "dummy-#{dom_id(rf.object)}", rf.object.name %>
            <%- else -%>
              <%= rf.check_box :add %>
              <%= rf.label :add, rf.object.name %>
              <%= rf.hidden_field :name %>
            <%- end -%>
          </li>
        <%- end -%>
      </ul>
    </div>
    <div class="field">
      <%= f.label :additional_services, t("rfp.additional_services") %> <%= f.text_area :additional_services %>
    </div>
    <hr class="padding" />
    <div class="field">
      <label><%= t('rfp.insurance_requirements_headline') %></label>
      <ul class="ticks">
        <li><p class="hint"><%= t('rfp.insurance_requirements_description') %></p></li>
        <li><%= f.check_box :general_liability_insurance %><%= f.label :general_liability_insurance, t("rfp.general_liability") %></li>
        <li><%= f.check_box :professional_liability_insurance %><%= f.label :professional_liability_insurance, t("rfp.professional_liability") %></li>
      </ul>
    </div>
  </fieldset>

  <hr class="padding" />

  <hr class="padding lined" />

  <div class="recaptcha">
    <%= recaptcha_tags %>
  </div>

  <hr class="padding lined" />

  <fieldset class="fields">
    
    <div class="field">
      <label><%= t('rfp.terms_of_service') %></label>
      <ul class="ticks">
        <li>
          <%= f.check_box :terms_of_service %> <%= f.label :terms_of_service, t('rfp.accept_terms_of_service')%>
        </li>
      </ul>
    </div>

  </fieldset>

  <fieldset class="buttons">
    <%= f.submit t('rfp.submit'), :onClick=>"pageTracker._trackEvent('Request', 'Submit Request');", :class => 'copy-button' %>
  </fieldset>

<% end -%>