<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="/ext/resources/css/ext-all.css">

  <title>
    <% if @page_content and @page_content.title.not.empty? %>
      <%= @page_content.title %> |
    <%- else -%>
      <%= yield :title %>
    <%- end -%>
    <%= t('general.site_title') %>
  </title>
  <meta charset="utf-8"/>
  <meta name="page" content="<%= @page_url || "#{controller.controller_name}/#{controller.action_name}" %>"/>
      <%- if @page_content and @page_content.enable_keywords? -%>
        <meta name="keywords" content="<%= @page_content.keywords %>">
      <%- else -%>
        <%= yield :keywords %>
      <%- end -%>
      <%- if @page_content and @page_content.description.to_s.not.empty? -%>
        <meta name="description" content="<%= @page_content.description %>">
      <%- else -%>
        <%= yield :description %>
      <%- end -%>
      <%- if @page_content and @page_content.enable_canonical? -%>
        <link href="<%= @page_content.canonical %>" rel="canonical" />
      <%- end -%>
      <%- if @page_content and @page_content.robots.not.blank? -%>
        <meta name="robots" content="<%= @page_content.robots %>">
      <%- end -%>
  <link rel="stylesheet" type="text/css" href="/stylesheets/sdd.css" />
  <script type="text/javascript" charset="utf-8">
    AUTH_TOKEN = '<%= escape_javascript(form_authenticity_token) %>';
  </script>
</head>
<body>
  <div class="focus">
    <div class="top-bar">
      <div id="header" class="container">
        <div class="column_seven">
          <h1>
            <%= link_to "Sencha Development Directory", root_path %>
          </h1>
        </div>
        <%- if !logged_in? -%>
          <div class="call-to-action">
            <div class="column_four text">
              <div class="plain-text">
                <strong>Devs: Get listed today!</strong><br />
                Show your skills. Reach more prospects.
              </div>
            </div>
            <div class="column_one">
              <div class="button">
                <%= link_to t('provider.signup'), new_provider_path, :class => 'copy-button', :rel => "nofollow", :onClick=>"pageTracker._trackEvent('Request', 'Create Account');" %>
              </div>
            </div>
          </div>
        <%- end -%>
        <hr class="clear" />
        <ul class="user-navigation-list">
          <%- if logged_in? -%>
            <li class="username user-navigation-item"><%= t('user.welcome', :user => h(current_user.first_name_or_email))%></li>
            <%- if current_user.provider and current_user.can_edit?(current_user.provider) -%>
              <li class="user-navigation-item">
                <%= link_to "#{current_user.provider.company_name} Profile", provider_path(current_user.provider) %>
              </li>
            <%- end -%>
            <% if current_user.admin? %>
              <li class="user-navigation-item"><%= link_to t('navigation.admin'), admin_dashboard_path %></li>
            <%- end -%>
            <li class="user-navigation-item"><%= link_to t('navigation.provider_directory'), provider_directory_path %></li>
            <li class="user-navigation-item"><%= link_to t('general.sign_out'), logout_path %></li>
          <%- else -%>
            <li class="user-navigation-item"><%= link_to t('home.find_a_provider'), provider_directory_path %></li>
            <li class="user-navigation-item"><%= link_to t('provider.sign_in'), login_path, :rel => "nofollow" %></li>
          <%- end -%>
        </ul>
      </div>
    </div>
  </div>
  <%= yield :search_options %>
  <div class="focus">
    <div class="container">
      <%- if flash[:notice] -%>
        <div class="notice"><%= flash[:notice] %></div>
      <%- end -%>
      <%- if flash[:error] -%>
        <div class="notice"><%= flash[:error] %></div>
      <%- end -%>
      <%= yield %>
      <hr class="clear" />
    </div>
  </div>
  <%= yield :highlight %>
  <%= yield :addendum %>
  <div id="footer">
    <div class="container">
      <div class="column_twelve">
        <ul class="footer-data">
          <li><%= link_to t('general.contact_us'), '/pages/contact-us', :rel => "nofollow" %></li>
          <li><%= link_to t('general.terms'), '/pages/terms-of-use', :rel => "nofollow" %></li>
          <li><%= link_to t('home.full_listing'), providers_path %></li>
          <li><%= link_to t('home.by_location'), by_location_providers_path %></li>
          <li><%= link_to t('home.top_cities'), top_cities_path %></li>
          <li><%= t('general.copyright') %></li>
        </ul>
      </div>
      <hr class="clear" />
    </div>
  </div>
  <% eyeballs_javascripts('jquery-ui', 'datepicker', 'jquery.tooltip', 'jquery.jtwitter.min', 'jquery.string', 'application') %>
  <script type="text/javascript" src="/ext/adapter/ext/ext-base.js"></script>
  <%- if Rails.env.production? -%>
    <script type="text/javascript" src="/ext/ext-all-production.js"></script>
  <%- else -%>
    <script type="text/javascript" src="/ext/ext-all-debug.js"></script>
  <%- end -%>
  <%= javascript_include_tag 'i18n', 'translations', 'application-ext.js' %>
</body>
</html>